.Welcome{
    display:flex;
    justify-content:center ;
}
.contenedor{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cuadros_azules{
    flex: 0 0 auto;
    width: 200px ;
    height: 200px;
    background-color: rgb(103, 103, 248);
    border: 3px solid black;
    margin: 30px;
    
}